{% extends "includes/layout.html" %}

{% block content %}

<main id="content" role="main">

<h2 class="heading-large">
    Comparing John and Jane's workload utilisation
</h2>

<table class="non-javascript">
    <tr>
    <th role="presentation" scope="col"> </th>
    {% for heading in utilisationTable.headings %}
        <th scope="col">{{ heading }}</th>
    {% endfor %}
    </tr>
    {% for row in utilisationTable.rows %}
    <tr>
    <th scope="row"> {{row.label}} </th>
    {% for value in row.values %}
    <td> {{value}}% </td>
    {% endfor %}
    </tr>
    {% endfor %}
</table>

<div role="presentation" id="plotly-div-line">
</div>

</main>
{% endblock %}

{% block body_end %}
    <script type="text/javascript">
        var utilisationTable = {{ utilisationTable | dump | safe }};
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/public/javascripts/compare-utilisations.js"></script>
{% endblock %}
